*{
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  
  #Vidio{
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  #search{
    display: none;
  }
  #card{
    width: 330px;
    margin: 10px;
  }

  #avtar{
    margin-right: 40px;
  }
  #reco{
    max-width:350px;
    margin-left: 5px;
  }
  #text{
    padding: 0px;
  }
}